<div class='centered-text ctitle'>Editar Perfil</div>
<div class='ui form profile'>
    <label>Nombre:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='username' placeholder='Nombre'>
        <i class='user icon'></i>
    </div>
    <label>Dirección De Correo Electrónico:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='email' placeholder='email@domain.com'>
        <i class='mail icon'></i>
    </div>
    <div class='fright'>
        <div class='ui red cancel button'>Cancelar</div>
        <div class='ui black submit button'>Guardar</div>
    </div>
</div>