<table style="margin: auto">
  <tr>
    <td style="background: #666666; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Vacío</td>
  </tr>
    <td style="background: #ffffff; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Alguien del Turno de</td>
  <tr>
    <td style="background: green; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Tu Turno</td>
  </tr>
  <tr>
    <td style="background: yellow; height: 30px; width: 30px; border: 1px solid black"></td>
    <td>Para cambiar</td>
  </tr>
</table>