<div class='ui add employee form'>
    <div class='ui error message'></div>
    <label>Primer Nombre:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='firstname' placeholder='Primer Nombre'>
        <i class='user icon'></i>
    </div>
    <label>Apellido:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='lastname' placeholder='Apellido'>
        <i class='user icon'></i>
    </div>
    <label>Dirección De Correo Electrónico:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='email' placeholder='email@domain.com'>
        <i class='mail icon'></i>
    </div>
    <p>El publicador recibirá un correo electrónico con la contraseña de la cuenta.</p>
    <div class='ui formButtons menu'>
        <div class='right item submitButtons'>
            <div class='ui red cancel button'>Cancelar</div>
            <div class='ui black submit button'>Agregar</div>
        </div>
    </div>
</div>