<div class='ui hidden edit employee form'>
    <label>Publicador:</label>
    <div class='ui selection dropdown'>
        <div class='default text'>Seleccione el publicador</div>
        <i class='dropdown icon'></i>
        <div class='menu employeeList' style='overflow:auto;max-height:100px;'>
            <%= include ../../../util/employeesDropdown.ejs %>
        </div>
    </div>
    <label></br></br>Nombre:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='username' placeholder='Nombre'>
        <i class='user icon'></i>
    </div>
    <div class='inline fields'>
        <div class='field'>Admin:</div>
        <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='adminPrivileges'>
                <label>Sí</label>
            </div>
        </div>
        <div class='field'>
            <div class='ui radio checkbox'>
                <input type='radio' name='adminPrivileges' checked='checked'>
                <label>No</label>
            </div>
        </div>
    </div>
    <div class='fright submitButtons'>
        <div class='ui red cancel button'>Cancelar</div>
        <div class='ui black submit button'>Editar</div>
    </div>
</div>