<div class='ui hidden modify claim shift form'>
    <div class="ui error message"></div>
    <% var submit = "Reclamación";
    var toggleOff = "Reclamación de Parte del turno";
    var toggleOn = "Reclamo De Todo El Turno" %>
    <!-- <%= include ../../../util/formModules/toggle.ejs %> -->

    <div class='entireShift hidden'>
        <%= include ../../../util/formModules/setTime.ejs %>
    </div>
    <%= include ../../../util/formModules/cancelSubmit.ejs %>
</div>