<div class='centered-text ctitle' style='padding-bottom:10px;'>Admin Config</div>

<form class='ui adminSettings form' onsubmit="return false;">
    <div class="ui error message"></div>
    <% var selectEmployee = "Seleccione";
    var submit = "Editar";
    var toggleOff = "Publicador";
    var toggleOn = "Admin" %>

    <%= include ../../util/formModules/selectEmployee %>

    <%= include ../../util/formModules/toggle.ejs %>

    <%= include ../../util/formModules/cancelSubmit.ejs %>
</form>