<div class='centered-text ctitle'>Agregar</div>

<div class='ui add employee form'>
    <div class='ui error message'></div>
    <label>Nombre:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='firstname' placeholder='Nombre'>
        <i class='user icon'></i>
    </div>
    <label>Apellido:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='lastname' placeholder='Apellido'>
        <i class='user icon'></i>
    </div>
    <!---->
    <label>Congregacion</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='congregation' placeholder='congregacion'>
        <i class='user icon'></i>
    </div>
    <!---->
    <!---->
    <label>Correo Electr칩nico:</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='email' placeholder='email@domain.com'>
        <i class='mail icon'></i>
    </div>
    <!---->
       <!---->
    <label>Telefono</label>
    <div class='ui left labeled icon input field'>
        <input type='text' name='phone' placeholder='809-888-9999'>
        <i class='mail phone'></i>
    </div>
    <!---->
    <!--<p>El publicador recibir치 un correo electr칩nico con la contrase침a de la cuenta.</p>-->
    <% var submit = "Agregar" %>
    <%= include ../../util/formModules/cancelSubmit.ejs %>
</div>