<label>Primer Nombre</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='firstname' placeholder='Primer Nombre'>
    <i class='user icon'></i>
</div>
<label>Apellido</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='lastname' placeholder='Apellido'>
    <i class='user icon'></i>
</div>
<label>Nombre del Horario</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='schedule-name' placeholder='Nombre del Horario'>
    <i class='calendar icon'></i>
</div>
<label>Correo electr칩nico</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='email' placeholder='Correo electr칩nico'>
    <i class='mail icon'></i>
</div>
<label>Contrase침a</label>
<div class='ui left labeled icon input field'>
    <input type='password' name='password' placeholder='Password'>
    <i class='lock icon'></i>
</div>
<label>Confirmar Contrase침a</label>
<div class='ui left labeled icon input field'>
    <input type='password' name='confirm-password' placeholder='Password'>
    <i class='lock icon'></i>
</div>
<a class='ui submit button'>Registro</a>