<label>Correo electrónico</label>
<div class='ui left labeled icon input field'>
    <input type='text' name='email' placeholder='Correo electrónico'>
    <i class='mail icon'></i>
</div>
<label>Contraseña</label>
<div class='ui left labeled icon input field'>
    <input type='password' name='password' placeholder='Contraseña'>
    <i class='lock icon'></i>
</div>
<a class='ui submit button'>Inicio de sesión</a>
<a class='ui button' href='/signup'>Registro</a>