<div class='fields createFields startTime'>
    <label class='five wide field right-justified vcentered'>Inicia:</label>
    <div class='five wide field createInputs'>
        <div class='ui input'>
            <input class='timePicker' type='text' name='start-time'>
        </div>
    </div>
</div>


<div class='fields createFields endTime'>
    <label class='five wide field right-justified vcentered'>Termina:</label>
    <div class='five wide field createInputs'>
        <div class='ui input'>
            <input class='timePicker' type='text' name='end-time'>
        </div>
    </div>
</div>